*{box-sizing: border-box; margin:0; padding:0; }
.header{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding-top: 15px;
	padding-left: 75px;
	padding-right: 75px;
}
.nav{
	text-align: center;
}
li{
	display: inline;
}
a{
	text-decoration: none;
	color: grey;
	font-size: 20px;
	font-weight: bold;
}
.section1{
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-left: 75px;
	padding-right: 75px;
	}
.section1 .spart{
	border:none;
	height: 450px;
}
.section1 .a{
	padding:100px;
}
.section1 .a h1{
	font-size: 50px;
}
.section1 .b .x{
	border:none;
	height: 150px;
}
.section1 .x{
	background-color: lightgrey;
	text-align: center;
}
.section2{
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-left: 75px;
	padding-right: 75px;

	}
.section2 .stpart{
	border:none;
	height: 200px;

}
.section2 .c{
	background-color: black;
}
input{
	margin: 50px;
	width: 650px;
	font-size: 50px;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
}
.section2 .fa{
	color: white;
}
.section2 .d{
	background-color: orangered;
}
.section2 p{
	margin: 30px;
	color: white;
}
.section2 h1{
	margin: 10px;
	color: white;
}
.row{
   display: grid;
   grid-template-columns: 7fr 3fr;	
   padding-left: 75px;
   padding-right: 75px;
   padding-top: 20px;
}
.middle{
	display: grid;
	grid-template-columns: 4fr 2fr;
	padding-left: 75px;
	padding-right: 75px;
	grid-gap: 20px;
	
}
.middle .mid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 450px;
}
.middle .mid .y1{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;

}

.middle .mid .y1 table{
	border-collapse: collapse;
	
}
.middle .mid .y1 tr{
	border-bottom: 1px solid white;
}
.middle .mid .y1 td{
	padding-top: 15px;
	padding-bottom: 15px;
}
.middle .mid .y3{
    background-color: black; 
    color: white;
    padding-top: 100px; 

}
.middle .sid {
    padding-left: 20px;
    padding-right: 25px;
}
.middle .sid .z{
    height: 150px;
}
.medium{
	display: grid;
	grid-template-columns: 4fr 2fr;
	height: 550px;
	padding-left: 75px;
	padding-right: 75px;
	padding-top:15px;
	grid-gap: 20px;
}
.medium .time{
	background-color: black;
	color: white;
	text-align: center;
}
.medium .box .rowv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
}
.medium .box .rowv .v{
	border: 1px solid;
	background-color: lightgrey;
	padding-left: 15px;
	padding-right: 10px;
}
.medium .box .roww{
   display:grid;
   grid-template-columns: 1fr 1fr;
   height: 250px;
   padding-top: 20px;
}
.medium .box .roww .w{
	border: 1px solid;
	background-color: lightgrey;
	padding-left: 15px;
	padding-right: 10px;
}
.btn{
	text-align: center;
}
.btn button{
	height: 50px;
	width: 150px;
	background-color: white;
	color: black;
	font-size: 25px;
	border-radius: 10%;
}
.background{
	padding-left:75px ;
	padding-right: 75px;
}
.title{
	background-color: orangered;
	height: 70px;
	text-align: center;
	border: none;
	border-bottom:1px solid white ;
}
.logo{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	height: 350px;
}
.logo .col{
	border:none;
	background-color: orangered;
	color: white;
	padding-top: 80px;
}
.logo .col .fa{
    background-color: darkred;
    font-size: 80px;
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius:50%;
    padding-top: 15px;
 }
.logo .col p{
	font-size: 22px;
	font-weight: bold;
}
.slider{
	padding-left: 75px;
	padding-right: 75px;
}
.slider .h1{
	background-color: lightgrey;
	
}
.slider .photo{
	background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    height: 400px;
}
.slider .photo .p{
	border: 1px solid;
	height: 300px;
}
.shop{
	padding-left: 75px;
}
.book{
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   padding-left: 75px;
   padding-right: 75px;
}
.book .m{
	background-color: lightgrey;
	height: 250px;
}
.price{
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   padding: 20px 75px  0px 75px;
}
.price .n{
	border:none;
	height: 250px;
	padding-left:15px;
	text-align: center;
}
.study{
	height: 400px;
	padding: 50px 75px 0px 75px;
	text-align: center;
}
.study .bttn{
    margin: auto;
}
.study button{
	height: 70px;
    width: 200px;
	border-radius: 20px;
	font-size: 15px;
	background-color: orangered;
}
.donate{
	height: 180px;
	padding: 0px 75px 0px 75px;
	background: orangered;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.donate .txt{
	color: white;
}
.donate .dbtn{
	margin: auto;
}
.donate button{
	height: 70px;
	width: 200px;
	border-radius: 20px;
	font-size: 15px;
}
.footer{
	padding: 0px 75px 0px 75px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.footer .item{
	background-color: lightgrey;
	border:none;
	height: 300px;
	font-size: 20px;
}
.fend{
	padding: 0px 75px 0px 75px;
	background-color: lightgrey;
	height: 100px;
	font-size: 20px;
}